.text-tweet{
  font-size: 12px;
}

.panel-default>.panel-heading{
  background-color: #00aced!important;
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.panel-default>.panel-heading:hover{
  background-color: #42bbe9;
}
.icon:hover {
  color: blue;
}

#twitter-pannel {
}

.facebook-pannel {
// background-color: #55acee;
}
